nav{
    background-color: rgba(77, 77, 77, 0.5);
}

nav a {
    color: rgb(220, 220, 220) !important;
    font-size: 0.8rem !important;
    letter-spacing: 2px;
}

nav a:hover{
    background-color: rgb(26, 26, 26);
}