/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/

a:link{
  text-decoration: none;
}

.text-white{
    color: white;
}

.big-text{
    font-size: 2rem !important;
}

.white-section{
    margin: 5% 15%;
    text-align: center;
 }

 .black-section{
    margin-top: 5%;
    background-color: rgb(33, 33, 33);
    text-align: center;
    padding: 2% 10%;
    color: white;
 }

 .white-title{
    color: white;
    letter-spacing: 0.4rem;
    font-weight: 700;
    font-size: 1rem;
 }

 .section-title{
    letter-spacing: 0.4rem;
    font-weight: 700;
    font-size: 2rem;
}

.section-subtitle{
    font-style: italic;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    /*object-fit: cover;*/
}

.carousel{
    width: 100%;
    /*height: 50%;*/
}

.image-carousel{
    width: 100%;
    height: 100vh;
}

.carousel-caption {
    font-family: Arial, sans-serif; 
    color: white; 
    font-weight: bold;
    text-shadow: 2px 2px 2px olive;
    font-size: 3vh;
  }

 /* .carousel-caption-title{
    color: white !important;
    text-shadow: 5px 5px black !important;
  }*/

.carousel .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
 }

 .round-image-title{
    font-weight: 900;
 }

 .round-image{
    border-radius: 80%;
 }

.reservation-month{
    background-color: white;
    border: 1px solid grey;
    text-align: left;
    vertical-align: middle;
}

.sold-out{
    font-weight:900;
    color:white;
    font-size: 0.8rem;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
}

a div.reservation-month{
    color: grey;
}

a:link div.reservation-month{
    text-decoration: none;
}

.contacts{
    font-size: 0.8rem;
    text-align: left;
}

.input-text{
    border: 1px solid grey;
}

.d-input {
    display: flex;
    gap: 10px;
  }

textarea{
    resize: none !important;
    width: 100%;
    border: 1
  }

